<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel = "stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    </head>

    <body>
        <div class="navbar">
            <a href="{{ url_for('home')}}" class="navbar-brand">Home</a>
            <a href="{{ url_for('leasetemplate')}}" class="navbar-item">Lease Template</a>
            <a href="{{ url_for('leasedata')}}" class="navbar-item">Lease Data</a>
            <a href="{{ url_for('leasemerged')}}" class="navbar-item">Data Merged</a>
            <a href="{{ url_for('preview')}}" class="navbar-item">PDF</a>
            <a href="{{ url_for('signerdata')}}" class="navbar-item">Signer Data</a>
            <a href="{{ url_for('submit_tx')}}" class="navbar-item">Sign</a>
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>&copy; 2024</p>
            </footer>
        </div>
    </body>
</html>